{% extends "base.html" %}

{% load i18n %}


{% block title %}Sign In{% endblock %}

{% block content %}
<body style="background-color: #D3D3D3;">
<div class="box login-bg">
	<div class="container">
		<div class="card log-box">

			<div class="card-body pb-">

				<h3>Student Login</h3>
				<form class="login mt-4" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
					{{ form.as_p }}

					{% if redirect_field_value %}
					<input type="hidden" class="form-control" name="{{ redirect_field_name }}"
						value="{{ redirect_field_value }}" />
					{% endif %}

					<button class="btn w-20 my-4 login-btn primaryAction" type="submit"
						style="width: 20%; background: #0b21c6;">{% trans "Sign In" %}</button>
				</form>
					
			</div>

			<div class="boxx2 text-center">
				<span>
					{% blocktrans %}
					<strong>Already have an account?</strong>
					<a href="http://127.0.0.1:8000/accounts/signup/">Register</a>
					{% endblocktrans %}
				</span>
			</div>



</div>

</body>
{% endblock %}

