{% extends 'base.html' %}

<title>{% block title %}Chat Room: {{ title }}{% endblock title %}</title>
{% block content %}


<h1>Chat Room: {{ title }}</h1>
    {% for student in student_group %}
        {% if forloop.first %}
            {% if student.supervisor == username %}
                <div id="chat">
                    {% for message in messages %}
                        {% if message.sender == student.student1 or message.sender == student.student2 or message.sender == student.student3 or message.sender == student.supervisor %}
                            <p>{{ message.sender }}: {{ message.content }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <form  method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
            
{% endblock content %}