{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Supervisor Login</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <!-- Add your custom CSS styles if needed -->
    <style>
        /* Add your custom styles here */
        .login-bg {
            background-color: #f8f9fa;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .log-box {
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
        }

        .login-btn {
            width: 100%;
        }
    </style>
</head>

<body style="background-color: #D3D3D3;">
	<div class="fakeLoader"></div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}"><b>LMS System</b></a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
	
					</li>
			
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
					</li>

					{% if user.is_authenticated %}
					<li class="nav-item dropdown user-profile">
						<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="{{ user.customer_profile.image.url }}" alt="" class="rounded-circle"
								style="width: 30px; height: 30px;">
							<span class="ml-2">{{ user.username }}</span>
						</a>

						<div class="dropdown-menu dropdown-menu-right">
							<div class="dropdown-header text-center">
								<img src="{{ user.customer_profile.image.url }}" alt="" class="rounded-circle"
									style="width: 80px; height: 80px;">
								<p>{{ user.customer_profile.profile_name }}</p>
								<a href="{% url 'custom_users:profile-edit' %}" class="btn btn-primary btn-sm">
									Edit Profile
								</a>
							</div>
							<div class="dropdown-divider"></div>
							
					
							<a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
						</div>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'account_login' %}">Student Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:8000/supervisor-login/">Supervisor Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>







    <div class="login-bg">
        <div class="container">

            <div class="card log-box text-center my-">
                <div class="card-body py-4">

                    <h3 class="mb-0">Supervisor Login</h3>

                    <form method="post" class="login">
                        {% csrf_token %}

                        {{ admin_login_form.as_p }}

                        <button class="btn login-btn btn-s px-5 mt-3 btn-primary" type="submit">LOGIN</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!-- Add your custom JavaScript code if needed -->
    <script>
        // Add your custom scripts here
    </script>
</body>

</html>
